<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h2> Actions:</h2>
    <ul>
      <li><a href="/register">Register</a></li>
      <li><a href="/log_in">Login</a></li>
    </ul>
    <h1>Hello EJS <%= name %></h1>
    <h2>Here our customers</h2>
    <ul>
      <% for(const user of users) { %>
        <li><%= user.name %></li>
      <% } %>
    </ul>
    <script src="/js/main/index.js" type="text/javascript"></script>
  </body>
</html>
